# Database Configuration
DATABASE_URL="postgresql://db-tool_owner:npg_password@ep-empty-thunder-aa7gxurv-pooler.westus3.azure.neon.tech/db-tool?sslmode=require"
# Do not expose your Neon credentials to the browser

PGHOST='ep-empty-thunder-aa7gxurv-pooler.westus3.azure.neon.tech'
PGDATABASE='db-tool'
PGUSER='db-owner'
PGPASSWORD='npg_password'

ENCRYPTION_MASTER_KEY=c5cdb075d32f91da6865cb48e272ddb00fdafb68b610b0b511c1dc688ea05956

# Application Configuration
NODE_ENV=development
PORT=3000

# Backup Configuration
BACKUP_STORAGE_PATH=./backups
BACKUP_RETENTION_DAYS=30